
decorator==5.0.9
defusedxml==0.6.0
Deprecated==1.2.13
diff-match-patch==20200713
distlib==0.3.1
distro==1.4.0
Django==3.1.2
django-ckeditor==6.0.0
django-cors-headers==3.7.0
django-crispy-forms==1.11.2
django-grappelli==2.14.3
django-heroku==0.3.1
django-import-export==2.5.0
django-js-asset==1.2.2
django-nested-admin==3.3.3
ipykernel==5.5.5
ipython==7.23.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==7.0.0