
dbus-python==1.2.16
decorator==5.0.9
defer==1.0.6
defusedxml==0.6.0
Deprecated==1.2.13
diff-match-patch==20200713
distlib==0.3.1
distro==1.4.0
distro-info===0.23ubuntu1
dj-database-url==0.5.0
Django==3.1.2
django-ckeditor==6.0.0
django-cors-headers==3.7.0
django-crispy-forms==1.11.2
django-grappelli==2.14.3
django-heroku==0.3.1
django-import-export==2.5.0
django-js-asset==1.2.2
django-nested-admin==3.3.3
ipykernel==5.5.5
ipython==7.23.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==7.0.0
PyGObject==3.36.0
PyJWT==1.7.1
pyRFC3339==1.1
pyrsistent==0.17.3
python-apt==2.0.0+ubuntu0.20.4.4
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
python-monkey-business==1.0.0
python-pptx==0.6.19
pytz==2020.1
pyxdg==0.26
PyYAML==5.3.1
pyzmq==22.0.3
regex==2021.4.4
reportlab==3.5.34
gunicorn==20.1.0
