

{% extends 'grocery_app/layout.html' %}
{% block body %}
   {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}

    <div class="container-fluid main-div">
 
    <h1 class='section-header'> Welcome to Grocery Store!! </h1>
    <div class='item-adder-div'>
    <h1>View All Grocery Items</h1>
    <a class='add-item' href="{% url 'create-grocery' %}">Add item</a>
    </div>
    <div class='store-header'>
        {% for grocery in groceries %}
            <div class='child'>
                <div class='grocery-content'>
                    <h1 class='grocery-name name'>{{grocery.name}}<h1></br>
                    <h4 class='grocery-name'>{{grocery.price}} Rs</h4></br>
                    <h4 class='grocery-name'>{{grocery.quantity}} Pcs</h4></br>
                    <p class='grocery-name'>{{grocery.time}}</p></br>
                    <a class="btn btn-primary" href="{% url 'update-grocery' grocery.id%}">Update</a>
                    <a class="btn btn-danger" href="{% url 'delete-grocery' grocery.id%}">Delete</a>

                    
                </div>
            </div> 

            {% comment %} <div class='child'>
                <div class='grocery-content'>
                    <h1 class='grocery-name'>{{grocery.name}}<h1></br>
                    <h4 class='grocery-name'>{{grocery.price}}</h4></br>
                    <h4 class='grocery-name'>{{grocery.quantity}}</h4></br>
                    <p class='grocery-name'>{{grocery.time}}</p></br>
                     
                      <button type="button" class="btn btn-primary">Update</button>
                      <button type="button" class="btn btn-danger">Delete</button>

                  
                </div>
            </div> 

            <div class='child'>
                <div class='grocery-content'>
                    <h1 class='grocery-name'>{{grocery.name}}<h1></br>
                    <h4 class='grocery-name'>{{grocery.price}}</h4></br>
                    <h4 class='grocery-name'>{{grocery.quantity}}</h4></br>
                    <p class='grocery-name'>{{grocery.time}}</p></br>
                     
                      <button type="button" class="btn btn-primary">Update</button>
                      <button type="button" class="btn btn-danger">Delete</button>

               
                </div>
            </div> 

             <div class='child'>
                <div class='grocery-content'>
                    <h1 class='grocery-name'>{{grocery.name}}<h1></br>
                    <h4 class='grocery-name'>{{grocery.price}}</h4></br>
                    <h4 class='grocery-name'>{{grocery.quantity}}</h4></br>
                    <p class='grocery-name'>{{grocery.time}}</p></br>
                    
                      <button type="button" class="btn btn-primary">Update</button>
                      <button type="button" class="btn btn-danger">Delete</button>

                   
                </div>
            </div>  {% endcomment %} 
        {% endfor %}
    <div>
   
   </div>
{% endblock body %}

<script>
    setTimeout(function(){
        if ($('.messages').length > 0) {
            $('.messages').remove();
        }
    }, 2000)    // 2000 millisecond
</script>
