{% extends 'grocery_app/layout.html' %}
{% block body %}
   {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}

    <div class="container-fluid main-div">
 
    <h1 class='section-header'> Welcome to your create listed  </h1>
    <div class='item-adder-div'>
    <h1>View All Created Lists</h1>
    </div>
    <div class='store-header'>
        {% for  groceryList in my_list %}
            <div class='child'>
                <div class='grocery-content'>
                    <h1 class='grocery-name name'>{{groceryList.user}}<h1></br>
                    <h1 class='grocery-name name'>{{groceryList.time}}<h1></br>
                    <a class="btn btn-primary" href="{% url 'see-list-from-saved' groceryList.time|date:'d-m-Y' %}">See List</a>
                    <a class="btn btn-danger" href="{% url 'delete-mylist' groceryList.id %}">Delete</a> 

                    
                </div>
            </div> 
        {% endfor %}

{% endblock %}